
@{
    ViewBag.Title = "Transaction test";
}

<h2>Test application</h2>

<fieldset>
    <legend>Deposit</legend>

    <label for="amount-deposit">Amount</label>
    <input type="number" id="amount-deposit" />
</fieldset>

<fieldset>
    <legend>Withdraw</legend>

    <label for="amount-withdraw">Amount</label>
    <input type="number" id="amount-withdraw" />
</fieldset>